extends layout
block content
    .container
      .row.clearfix
        .col-md-12.column
          .row.clearfix
            .col-md-2.column
                <p>You are at your about us</p>
            .col-md-8.column
            .col-md-2.column